requests
django
uvicorn
gunicorn
psycopg2-binary
django-cors-headers
django-rest-framework
django-rest-framework-simplejwt
django-rest-framework-simplejwt-blacklist
django-rest-framework-simplejwt-blacklist